{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Le detail du souhait numéro {{ wish.id }}
{% endblock %}

{% block body %}
    <ul>
        <li>{{ wish.title }}</li>
        <li>{{ wish.description }}</li>
        <li>{{ wish.author }}</li>
        <li>{{ wish.dateCreated | date("d/m/Y H:i:s") }}</li>
    </ul>


{% endblock %}

